*{
    margin: 0;
    padding: 0;
}

.container{
    width: 300px;
    height: 300px;
    margin: 150px auto;
    perspective: 20000000px;
    
}
.box{
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    /* transform: rotateX(45deg) rotateY(45deg); */
    animation: ro 4s linear infinite;
}
@keyframes ro{
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.box-page{
    width: 300px;
    height: 300px;
    position: absolute; 
}
.top{
    transform: translateZ(150px) rotateX(180deg);
}
.bottom{
    transform: translateZ(-150px) rotateX(180deg);
}
.left{
    transform:translateX(-150px) rotateY(-90deg);
}
.right{
    transform:translateX(150px) rotateY(90deg);
}
.before{
    transform: translateY(150px) rotateX(-90deg);
}
.after{
    transform:translateY(-150px) rotateX(90deg);
}
.box-page div:nth-child(1){
    animation: a1 4.5s ease-in;
}
.box-page div:nth-child(2){
    animation: a1 4.5s ease-in 0.5s;
}
.box-page div:nth-child(3){
    animation: a1 4.5s ease-in 1s;
}
.box-page div:nth-child(4){
    animation: a1 4.5s ease-in 1.5s;
}
.box-page div:nth-child(5){
    animation: a1 4.5s ease-in 2s;
}
.box-page div:nth-child(61){
    animation: a1 4.5s ease-in 2.5s;
}
.box-page div:nth-child(7){
    animation: a1 4.5s ease-in 3s;
}
.box-page div:nth-child(8){
    animation: a1 4.5s ease-in 3.5s;
}
.box-page div:nth-child(9){
    animation: a1 4.5s ease-in 4s;
}
@keyframes a1{
    0%{
        transform: translateZ(0px) scale(1) rotateZ(0deg);
    }
    20%{
        transform: translateZ(300px) scale(0) rotateZ(720deg);
    }
    90%{
        transform: translateZ(300px) scale(0) rotateZ(720deg);
    }
    100%{
        transform: translateZ(0px) scale(1) rotateZ(0deg);
    }
}